{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>{{ fund.name }}</h3>
<h3>{{ fund.code }}</h3>
<form action="" method="post">
{% csrf_token %}
<input type="submit" value="收藏" />
</form>
<h3>单位净值：{{ fund.price }}%</h3>
<h3>当前涨跌：{{ fund.currentrate }}%</h3>
<h3>本年涨跌：{{ fund.annualrate }}%</h3>
<h3>近6月涨跌：{{ fund.sixmrate }}%</h3>
<h3>近3月涨跌：{{ fund.threemrate }}%</h3>
<h3>近1月涨跌：{{ fund.onemrate }}%</h3>
<p>
<img src="/static/fund.png" />
</p>
</body>
</html>