{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>理财小助手-股票</title>
</head>
<body>
<h3>{{ stock.name }}</h3>
<h3>{{ stock.code }}</h3>
<form action="" method="post">
{% csrf_token %}
<input type="submit" name="shoucang" value="收藏" />
<input type="submit" name="buy" value="买入" />
<input type="submit" name="sell" value="卖出" />
</form>
<h3>price：{{ stock.price }}</h3>
<h3>open：{{ stock.open }}</h3>
<h3>close：{{ stock.close }}</h3>
<h3>high：{{ stock.high }}</h3>
<h3>low：{{ stock.low }}</h3>
<h3>currentrate：{{ stock.currentrate }}%</h3>
<p>
    <img src="/static/stock0.png" />
    <img src="/static/stock1.png" />
    <img src="/static/stock2.png" />
    <img src="/static/stock3.png" />

</p>
</body>
</html>